{% extends "layout.html.twig" %}

{% block title %}{{ link.url }}{% endblock %}

{% block content %}
<p>
	
    <h2>{{ link.title }}</h2> - {{link.url}}
    <br/>
    
    {{ link.content | raw}}
    
</p>
{% endblock %}
