{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
{% for categorie in categories %}
<article>
    <h2><a class="categorieTitle" href="{{ path('categorie', { 'id': categorie.id }) }}">{{ categorie.name }}</a></h2>
    <p>{{ categorie.id }}</p>
</article>
{% endfor %}
{% endblock %}
