/*
.leftSide {
  float: left;
  width: 20%;
  position:relative;
}

.rightSide{
  float: left;
  width: 80%;
  position:relative;
}
*/
.categorie{
	font-size:"90px"
}
.glyphicon.folderSize{
	font-size:"50px"
}
