.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
    bottom:0;
    position:absolute;
    float:left;
}

.corps{
	padding-top:5%;
}

.categorieName:hover, .categorieName:focus {
    text-decoration: none;
}
